/*
fichier principal pour le style SASS. importe les partials 
et contient le code global (html, body, main ...)
*/
@use 'partials/variables.scss';
@use 'partials/header.scss';
@use 'partials/fonts.scss';
@use 'partials/accueil.scss';
@use 'partials/projets.scss';
@use 'partials/competences.scss';
@use 'partials/contact.scss';
@use 'partials/projet.scss';

html {
    //smooth => pour une appli one page
    scroll-behavior: smooth;
    //on commence le scroll après le header qui est fixed
    scroll-padding-block-start: 14vh;
}
body {
    margin: 0px;
    font-family: 'nunito', monospace;
}

main {
    padding: 14vh 2vw 0 2vw;
}